## Lección 04 Unión y Limpieza de datos

## Ejercicios

In [2]:
import pandas as pd
import numpy as np

Vamos a seguir trabajando con el *csv* de `rating-and-performance`, pero vamos a añadir un *csv* más para completar la información de nuestro *e-commerce*. En concreto, vamos a incluir: 

- `insights.csv`: Tenemos datos sobre el éxito de vendedores activos. Sus columnas son: 



    | Nombre de columna         | Descripción                                                                                            |
    |---------------------------|--------------------------------------------------------------------------------------------------------|
    | rating                    | La calificación del producto. (Float)                                                                  |
    | listedproducts            | El número de productos listados en la plataforma de comercio electrónico Wish. (Integer)                |
    | totalunitssold            | El número total de unidades vendidas del producto. (Integer)                                           |
    | meanunitssoldperproduct   | El número promedio de unidades vendidas por producto. (Float)                                         |
    | merchantratingscount      | El número de calificaciones para el vendedor. (Integer)                                                |
    | meanproductprices         | El precio promedio del producto. (Float)                                                               |
    | meanretailprices          | El precio minorista promedio del producto. (Float)                                                     |
    | averagediscount           | El descuento promedio aplicado al producto. (Float)                                                    |
    | meandiscount              | El descuento medio aplicado al producto. (Float)                                                       |
    | meanproductratingscount   | El número promedio de calificaciones para el producto. (Float)                                         |
    | totalurgencycount         | El número total de recuentos de urgencia para el producto. (Integer)                                   |
    | urgencytextrate           | La tasa de ofertas de texto de urgencia para el producto. (Float)                                      |

1. Unid los dos DataFrames en uno solo, usando el método que considereis más correcto. Querremos quedarnos con todos los productos que estén en los dos conjuntos de datos.

In [3]:
#Traigo el primer csv
df_rating_performance=pd.read_csv('rating-and-performance.csv')
df_rating_performance.head(1)

,index,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08

In [4]:
#Traigo el segundo csv
df_insight=pd.read_csv('insight.csv')
df_insight.head(1)

,index,merchant.id,listed.products,total.units.sold,mean.units.sold.per.product,rating,merchant.ratings.count,mean.product.prices,mean.retail.prices,average.discount,mean.discount,mean.product.ratings.count,total.urgency.count,urgency.text.rate
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.0,20.0,54.0,54.0,8836.0,1.0,50.0

In [5]:
#Uno ambos csv con merge inner para quedarme sólo con los productos que estén presentes en ambos csv
#Uno por la columna index porque ambos la tienen
df_merged=pd.merge(left=df_rating_performance, right=df_insight, left_on='index', right_on='index', how='inner')
df_merged.head(2)

,index,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating_x,rating_count,...,mean.units.sold.per.product,rating_y,merchant.ratings.count,mean.product.prices,mean.retail.prices,average.discount,mean.discount,mean.product.ratings.count,total.urgency.count,urgency.text.rate
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,...,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.0,22,EUR,20000,1,3.45,6135,...,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0

2. Explorad el nombre de las columnas, ¿hay alguna que este repetida o que no nos aporte información de valor? ¿Hay alguna columna que solo tenga un valor? En caso de ser así, eliminadlas. **NOTA** Hay tres columnas que cuando exploramos sus valores únicos y sus frecuencias ayer, nos deberíamos haber dado cuenta que solo tiene un valor.

In [6]:
#Veo si hay alguna columna con etiqueta duplicada
#1. Creo una variable para guardar las posibles columnas duplicadas
duplicated_colums=df_merged.columns[df_merged.columns.duplicated()]

#2. Hago un if: si hay algún duplicado
if len(duplicated_colums)>0:
    print(f'La cantidad de columnas con etiquetas duplicadas es: {duplicated_colums}')
else:
    print('No hay columnas con etiquetas duplicadas')

No hay columnas con etiquetas duplicadas

In [7]:
#Quiero ver sólo las columnas con un sólo valor único para pensar si las puedo eliminar
#1. Creo variable para guardar las columnas y sus valores únicos
valores=df_merged.nunique()

#2. Creo filtro con la variable
valores_unicos=valores[valores == 1]

#3. Print
print(valores_unicos)

currency_buyer        1
has_urgency_banner    1
urgency_text          1
theme                 1
crawl_month           1
dtype: int64

In [8]:
#Elimino:
#title_orig porque necesitamos tener sólo un título
#merchant.id porque ya tenemos merchant_id que tiene la misma información
#currency_buyer porque sólo hay EUR
#theme porque sólo hay 'summer'
df_merged.drop(['title_orig', 'merchant.id', 'currency_buyer', 'theme'], axis=1, inplace=True)
df_merged.head(1)

,index,title,price,retail_price,units_sold,uses_ad_boosts,rating_x,rating_count,rating_five_count,rating_four_count,...,mean.units.sold.per.product,rating_y,merchant.ratings.count,mean.product.prices,mean.retail.prices,average.discount,mean.discount,mean.product.ratings.count,total.urgency.count,urgency.text.rate
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,100,0,3.76,54,26.0,8.0,...,60000.0,4.219,320031.0,9.0,20.0,54.0,54.0,8836.0,1.0,50.0

3. Algunas de las columnas tienen `.` en sus nombres y en otras tenemos `_`.  Unifica el nombre de las columnas para que todas tengan "_". Además, todas deben estar en minúsculas.

In [9]:
df_merged.columns=[i.replace('.', '_').lower() for i in df_merged.columns]
df_merged.head(1)

,index,title,price,retail_price,units_sold,uses_ad_boosts,rating_x,rating_count,rating_five_count,rating_four_count,...,mean_units_sold_per_product,rating_y,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count,total_urgency_count,urgency_text_rate
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,100,0,3.76,54,26.0,8.0,...,60000.0,4.219,320031.0,9.0,20.0,54.0,54.0,8836.0,1.0,50.0

4. En la columna de `merchant_info_subtitle`, si nos fijamos hay algunas celdas donde tenemos entre paréntesis el número total de calificaciones para el comerciante (que es la misma información que la que tenemos en la columna "merchant_rating_count"). Eliminad de la columna "merchant_info_subtitle" la parte del *string* de los paréntesis. Guardar el resultado de vuestra limpieza en una columna que se llame igual, es decir, "merchant_info_subtitle".

In [10]:
#Le digo que reemplace todo lo que esté encerrado entre paréntesis por nada
df_merged['merchant_info_subtitle']=df_merged['merchant_info_subtitle'].str.replace('\(.*\)', '', regex=True)
df_merged.head(5)

,index,title,price,retail_price,units_sold,uses_ad_boosts,rating_x,rating_count,rating_five_count,rating_four_count,...,mean_units_sold_per_product,rating_y,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count,total_urgency_count,urgency_text_rate
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,100,0,3.76,54,26.0,8.0,...,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.00,22,20000,1,3.45,6135,2269.0,1027.0,...,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,8.00,43,100,0,3.57,14,5.0,4.0,...,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,Hot Summer Cool T-shirt pour les femmes Mode T...,8.00,8,5000,1,4.03,579,295.0,119.0,...,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,Femmes Shorts d'été à lacets taille élastique ...,2.72,3,100,1,3.10,20,6.0,4.0,...,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN

5. Si nos fijamos, en la primera fila antes solo teníamos un paréntesis, pero los hemos eliminado en el paso anterior, y ahora tenemos un *string* vacío, lo cual no tiene mucho sentido. En este ejercicio debereis reemplazar esos *strings* vacios por nulos de Pandas (**NOTA** estos deben ser indicados de la siguiente forma `np.nan`, y deberéis importar numpy).

In [11]:
df_merged['merchant_info_subtitle']=df_merged['merchant_info_subtitle'].replace('', np.nan)
df_merged.head(5)

,index,title,price,retail_price,units_sold,uses_ad_boosts,rating_x,rating_count,rating_five_count,rating_four_count,...,mean_units_sold_per_product,rating_y,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count,total_urgency_count,urgency_text_rate
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,100,0,3.76,54,26.0,8.0,...,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.00,22,20000,1,3.45,6135,2269.0,1027.0,...,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,8.00,43,100,0,3.57,14,5.0,4.0,...,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,Hot Summer Cool T-shirt pour les femmes Mode T...,8.00,8,5000,1,4.03,579,295.0,119.0,...,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,Femmes Shorts d'été à lacets taille élastique ...,2.72,3,100,1,3.10,20,6.0,4.0,...,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN

6. Hay ciertas columnas que no vamos a necesitar para nuestro análisis. En concreto, vamos a eliminar las columnas de `badges_count`, `product_variation_inventory`, `urgency_text`, `merchant_title`, `merchant_has_profile_picture`, `merchant_profile_picture`, `product_picture`, `total_urgency_count`, `has_urgency_banner` y `urgency_text_rate`. Guardad los cambios realizados hasta este punto en un csv para usarlo en los ejercicios de la lección de mañana.

In [12]:
df_merged.drop(['badges_count', 'product_variation_inventory', 'urgency_text', 'merchant_title', 'merchant_has_profile_picture', 'merchant_profile_picture','product_picture', 'total_urgency_count', 'has_urgency_banner', 'urgency_text_rate'], axis=1, inplace=True)
df_merged.head(1)

,index,title,price,retail_price,units_sold,uses_ad_boosts,rating_x,rating_count,rating_five_count,rating_four_count,...,listed_products,total_units_sold,mean_units_sold_per_product,rating_y,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,100,0,3.76,54,26.0,8.0,...,2,120000,60000.0,4.219,320031.0,9.0,20.0,54.0,54.0,8836.0

In [13]:
df_merged.to_csv('merchant_fill.csv')

7. Pongamos en práctica el filtrado de datos en Pandas: 

- Seleccionad aquellos productos cuyo color es verde. ¿Cuántos productos tenemos?

In [14]:
green=df_merged[df_merged['product_color'] == 'green']
green.shape[0]

49

    
- Seleccionad aquellos productos cuyo color es verde y rojo. ¿Cuántos productos tenemos de cada tipo de color.

In [ ]:
green_and_red=df_merged[(df_merged['product_color']=='green') | (df_merged['product_color']=='red')]
green_and_red['product_color'].value_counts()

red      56
green    49
Name: product_color, dtype: int64

- Seleccionad aquellos productos de la talla M, que valgan más de 15. ¿Cuántos productos tenemos?

In [ ]:
medium_15=df_merged[(df_merged['product_variation_size_id']=='M') & (df_merged['price']>15)]
medium_15.shape[0]

9

- Seleccionad aquellos productos cuyo precio este entre 1 y 2 (ambos inclusive). ¿Cuántos productos tenemos?

In [ ]:
low_price=df_merged[df_merged['price'].between(1,2, inclusive='both')]
low_price.shape[0]

40

- Filtrad los datos, para extraer solo aquellos productos que tengan uno o más dígitos en su titulo. ¿Cuántos productos hay?

In [ ]:
digit_title=df_merged[df_merged['title'].str.contains('\d+', regex=True)]
digit_title.shape[0]

372